html, body, :global(#root) {
  height: 100%;
  margin: 0px;
  word-break: break-all;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,PingFang SC,Noto Sans,Noto Sans CJK SC,Microsoft YaHei,sans-serif;
}
:global(.ant-menu-horizontal){
    border:none;
}
:global(h3){
    font-weight:400 !important;
}